<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Phudu&display=swap");
      body {
        background-color: #98baa1;
        font-family: "Phudu", cursive;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .products-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
      }
      .product-item {
        position: relative;
        background-color: #efdca6;
        padding: 10px 30px;
        border-radius: 20px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 70%;
      }
      .product-item::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background-color: #98baa1;
      }
      .product-item:hover {
        box-shadow: none;
        background-color: #fff8e7;
        color: #101010;
      }
      .product-item h3 {
        line-height: 0px;
      }
      .product-item .divider {
        width: 60%;
        height: 5px;
        border-radius: 40px;
        background-color: #98baa1;
        margin-bottom: 10px;
      }
      .product-item .price-container span,
      .product-item .desc-container span {
        font-size: 20px;
        font-weight: 400;
      }
      .product-item .price-container p,
      .product-item .desc-container p {
        line-height: 1px;
        font-size: 16px;
        font-weight: 200;
      }
      .product-item .desc-container p {
        line-height: 15px !important;
      }

      .back-to-product {
        background-color: #101010;
        margin: 10px 0;
        width: fit-content;
        padding: 5px 15px;
        border-radius: 7px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .back-to-product:hover {
        box-shadow: none;
      }
      .back-to-product a {
        color: #fff8e7 !important;
        text-decoration: none;
      }
    </style>
    <div class="back-to-product">
      <a href="/api/v1/products/"><- List Of products</a>
    </div>
    <div class="products-container">
      <div class="product-item">
        <img
          width="80px"
          height="80px"
          src="<%= product.image %>"
          alt="<%= product.name %>-image"
        />
        <h3><%= product.name %></h3>
        <div class="divider"></div>
        <div class="desc-container">
          <span>Description :</span>
          <p><%= product.desc%></p>
        </div>
        <div class="price-container">
          <span>Price :</span>
          <p><%= product.price %></p>
        </div>
      </div>
    </div>
  </body>
</html>
